<section id="hero" style="background-color: rgb(67, 149, 182);">
    
            <div class="" >
                
                    <h2>Welcome to the ABCD hospital</h2>
                    <div>
                        <img src="https://th.bing.com/th/id/R.d54f41fa7646c28545f3cff69d7bb54b?rik=56Ohxy5TQ9aEHQ&riu=http%3a%2f%2fhealth.gov%2fsites%2fdefault%2ffiles%2fstyles%2ftopic_card_image%2fpublic%2f2020-01%2fregular-checkups_banner.jpg%3fitok%3d2HIjcA3h&ehk=cbM57yjC5G5yL18n5T6vWakF5Ldi2Rj5d0aLJ6%2f7va4%3d&risl=&pid=ImgRaw&r=0" alt="" width="1000px" height="250px">
                        

                    </div>
                      
            </div>
</section>